.login {
    display: flex;
    height: 100vh;
    background-image: url('../images/4135503.jpg');
    background-size: cover;
    color: #fff;
}

.login-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: auto;
}

.login-inner ul {
    list-style: none;
    margin-top: 1rem;
}

.login ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.fa-check-square,
.fa-user-lock {
    margin-right: 10px;
    color: #f6b93b;
}

.login h2 span {
    font-size: 50px;
    font-weight: 600;
    color: #f6b93b;
}

.login h2 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: -4px;
    text-transform: uppercase;
}

.login-right form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.login-heading {
    display: flex;
    align-items: center;
    
}

.login input {
    height: 45px;
    margin: 0 0 10px 0;
    text-indent: 5px;
    font-size: 12px;
}

input:focus {
    outline: none;
}

.login button {
    margin-bottom: 10px;
    width: 100%;
    height: 45px;
    cursor: pointer;
    background-color: #f6b93b;
    color: #fff;
    border: none;
    transition: all .3s ease-in-out;
}

button:hover {
    background-color: #e58e26;
}