nav {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}
nav ul {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
}
nav ul li {
    list-style: none;
    padding: 15px 20px;
    transition: all .4s ease-in-out;
}

nav ul li:hover {
    background-color: #f6b93b;
    border-radius: 4px;
}

nav li a {
    text-decoration: none;
    color: #fff;
}