.quiz {
    background: url('../images/4135503.jpg') no-repeat;
    text-align: center;
    display: flex;
    height: 100vh;
}
.quiz .container {
    flex-direction: column;
    text-align: left;
}
.quizEmail {
    height: 45px;
    width: 30%;
}
.quiz input {
    text-indent: 10px;
    margin: 10px;
    width: 47%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}
.quiz ::placeholder {
    color: #fff;
}
.quiz label {
    color: #fff;
}
.quiz-btns input {
    display: block;
}
.quiz-btns {
    display: flex;
    flex-wrap: wrap;
}
 .quiz-btns .btn-ans,
 .btn-next {
    margin: 10px;
    width: 47%;
    height: 45px;
    cursor: pointer;
    background-color: #F6B93B;
    color: #fff;
    border: none;
    transition: all .3s ease-in-out;
} 
.btn-ans:hover {
    background-color: #7F8C8D;
}
.btn-next {
    background-color: transparent;
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-next i {
    margin-left: 10px;
}
.btn-next:hover {
    background-color: transparent;
    color: #333;
}

button:focus {
    outline: none;
}

.playerScore,
.btn-save {
    background-color: #ee5253;
    font-size: 26px;
    color: #fff;
    text-align: center;
    font-size: 26px;
    padding: 15px 0;
    color: #fff;
    width: 30%;
    margin: 2rem auto;
    transform: skew(-3deg, -3deg);
    box-shadow: 8px 8px 0px 0px #ff6b6b;
    border: 1px solid rgba(0,0,0, .2);
}
.btn-save {
    background-color: #ee5253;
    box-shadow: 8px 8px 0px 0px #ff6b6b;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.btn-save:hover {
    background-color: #ff6b6b;
}

.score-btns {
    display: flex;
    justify-content: space-between;
}